$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "AngularJS-Toaster/toaster.scss";
// endbower
@import "variables";
@import "animations";
@import "dropdown";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
}

body {
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-bigger {
  font-size: 1.2em;
  line-height: 2;
}

.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
  z-index: 500;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  .navbar-brand {
    color: $gray;
    &:hover {
      color: $white;
    }
  }
  .navbar {
    background-color: $dark;
    border: none;
    .navbar-nav {
      & > li {
        &.active {
          & > a {
            background-color: $gray;
            color: $dark;
            &:hover {
              color: $black;
            }
          }
        }
        & > a {
          color: $gray;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding: 5px;
  font-size: 0.85em;
  color: $green-light;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  bottom: 0;    
  left: 0;
  right: 0;
  background-color: $dark;
  width: 100%;
  p {
    margin: auto;
    text-align: center;
  }
}

.footer-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .page-container {
    margin: auto;
    /* &>div>div {
      padding-bottom: 40px;
    } */
  }
  /* Space out the masthead */
  .header {
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-wrapper {
  padding-top: 70px;
  /* text-align: center; */
  min-height: 100%;
  padding-bottom: 40px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.main-page {
  padding-top: 110px;
  color: $dark;
  background-image: url('../images/Architecture-Buildings-l.jpg');
  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  h5 {
    color: $white;
  }
}
.about-page {
  background-image: url('../images/architecture-bridge2.jpg');
  .container-fluid, .row {
    margin-top: 30px;
  }
  .category-buttons {
    .btn {
      border-radius: 0!important;
      padding: 10px 40px;
      &:not(:first-child) {
        margin-left: 10px;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .about-presentation {
    .panel {
      max-width: 720px;
      margin: auto;
      .panel-body {
        padding: 30px;
      }
    }
  }
}
.center-text {
  text-align: center;
}
.btn-group.top-selectors {
  &:first-child {
    border-radius: 0;
  }
}
.about-navigation {
  position: fixed;
  width: auto;
  min-width: 200px;
  max-width: 250px;
  left: 0;
  top: 82px;
  z-index: 2;

  .list-group {
    float: left;
    min-width: 206px;
  }
  .toggle-button {
    float: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 16px;
    font-size: larger;
    background: $dark;
    color: $gray;
    border: 1px solid $black;
    border-left: 0px;
    &:hover {
      color: $white;
    }
    &:focus {
      border-color: none;
    }
  }
  .list-group-item {
    padding: 10px 15px;
    text-align: center;
    font-size: larger;
    color: $gray;
    background-color: $dark;
    border-color: $black;
    &:hover {
      color: $white;
      background-color: $dark;
    }
  }
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-right: 0px;
  }
  .list-group-item:last-child {
    border-bottom-left-radius: 0;
  }
  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus .list-group-item:hover, .list-group-item:focus {
    z-index: 2;
    color: $dark;
    background-color: $gray;
    border-color: $black;
  }
}
.team-members {
  max-width: 980px;
  .panel-body {
    padding: 0px;
  }
  .panel-title {
    background: $dark;
    color: $gray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.team-members-item {
  border: 0px;
  cursor: pointer;
}
.team-members-image {
  margin: 10px 25px;
  border-radius: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.team-members-details {
  background: $blue;
  padding: 8px;
  color: $gray;
  line-height: 1.5;
  font-size: 12px;
}


/* Projects Page start. */
.projects-page {
  background-image: url('../images/architecture-projects-1.jpg');
}

.project-list-item {
  border: none;
  .panel-title {
    padding: 5px;
  }
  .panel-body {
    padding: 0px;
  }
}
/* Projects Page end. */

.partners-page {
  background-image: none;
}

.media-page {
  background-image: none;
}

.contacts-page {
  background-image: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu {

}

.menu > li {
  display: inline-block;
  line-height: 30px;
  position: relative;
}

.sub-menu {
  position: absolute;
  display: none;
  background-color: $dark;
  min-width: 190px;
}

.sub-menu > li {
  display: block;
  cursor: pointer;
  padding: 5px 35px;
  a {
    color: $gray;
    text-decoration: none;
  }
  &:hover {
    background-color: $gray;
    a {
      color: $dark;
    }
  }
}

li:hover .sub-menu {
  display: block;
}

.project-list-item {
  .project-image {
    img {
      width: 100%;
    }
  }
}