/* $grey: #ddd;
$light-grey: #f8f8f8;
$light-grey2: #e7e7e7;
$dark-grey: #777;
$darker-grey: #555; */

$white: #FFFFFF;
$black: #000000;
$dark: #111728;
$blue: #294b77;
$blue-light: #8397a7;
$green-light: #89abad;
$gray: #dddddb;
$gray-light: #dddddb;