<ul class="timeline">
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://s-media-cache-ak0.pinimg.com/236x/99/e5/d3/99e5d3a2abe7caa4ee7f682853ebdf5d.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Februarie 2012</h4>
                <h4 class="subheading">Architect Awards 2012</h4>
            </div>
            <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://designer4logo.files.wordpress.com/2012/04/11638595360d1.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Martie 2016</h4>
                <h4 class="subheading">Constructie Iasi</h4>
            </div>
            <div class="timeline-body">
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
            </div>
        </div>
    </li>
</ul>